@model daniel_incident_tracking.Models.Report
@using (Html.BeginForm("Report", "Home", FormMethod.Post))
{
    <br \ />
    <h3>New Incident Report</h3>
    @:Name : @Html.TextBoxFor(m => m.name)
    <br \ />
    @:Location : @Html.TextBoxFor(m => m.location)
    <br \ />
    @:Incident : @Html.TextBoxFor(m => m.incident)
    <br \ />
    @:Witness : @Html.TextBoxFor(m => m.witness)
    <br \ />
    @:Supervisor : @Html.TextBoxFor(m => m.supervisor)
    <br \ />
    @:Date : @Html.TextBoxFor(m => m.date)
    <br \ />
        <input type="submit" value="Submit" />
}


